{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>

    </nav>
    <main>
        <div class="container">
            <div class="card-panel">
                <div class="post-content">
                    <div class="post-info" style="height: 100px; ">
                        <h4 style="float: left;">{{ posts.title }}</h4>
                        <h6 style="float: right;">{{ posts.author}} {{ posts.published_date }}</h6>
                    </div>
                    <div class="post-text">
                        {{ posts.text }}
                    </div>
                </div>
                <div class="post-comment">
                    <h5 style="border-bottom: 1px solid black">댓글</h5>
                        <!--{comment list}-->
                    {% for comment in post.comments.all %}
                        <div class="comment">
                            <div class="date">{{ comment.created_date }}</div>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                    {% empty %}
                        <p>아직 댓글이 없어요 :(</p>
                    {%  endfor %}
                    <form id="comment-form">
                        <div>
                            <input type="text" placeholder="댓글을 입력해주세요...">
                            <input type="submit" value="입력" class="btn waves-effect waves-light">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>